/*
Autor: Jesimar da Silva Arantes
Data: 09/02/2017
*/

body {
    background-color: #383838;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: verdana, arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 35px;
}

h2 {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    font:bold;
}

h3 {
    color: #06F;
    text-shadow: 1px 0px 0px #555555;
    text-align: center;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

tr{
    background: #EEE;
}

td{
    padding-left: 12px;
    padding-right: 12px;
}

table{
    background:  #000;
    margin: 0 auto;
}

b{
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

#topo {
    background: url(../img/topo.png) repeat-x top left;
    height: 170px;
    clear: both;
    width: 100%;
}

#barra-topo {
    margin-top: 44px;
    text-align: center;
}

#rodape {
    background: url(../img/rodape.jpg) repeat-x top left;
    height: 60px;
    clear: both;
    width: 100%;
    padding-top: 2px;
    margin-bottom: 8px;
}

#geral{
    width: 90%;
    margin: 10px auto;
    background: #FFF;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

#conteudo {
    margin-top: 2px;
}

.esquerda {
    width: 33%;
    float: left;
    text-align: center;
}

.esquerda a:hover{
	background-color: #DDD;
}

.direita {
    width: 33%;
    float: right;
    text-align: center;
}

.direita a:hover{
	background-color: #DDD;
}

.centro {
    width: 33%;
    float: left;
    text-align: center;
}

.centro a:hover{
	background-color: #DDD;
}

.blackJust {
    color: #000;
    text-align:justify;
    font-family: verdana, arial, sans-serif;
    font-size: 13px;
}

.blackCenter {
    text-align: center;
    color: #000;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.blackRight{
    text-align: right;
    color: #000;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.center{
    text-align:center;
    padding-top: 2px;
    padding-bottom: 8px;
}

.btn{
	width: 146px;
}

.efeito{
	background-color: rgba(0, 0, 100, 0.15);
	padding: 6px 5px 6px 5px;
}

table a:link{
    color: #008;
}

table a:visited{
    color: #00F;
}

table a:active { 
    color: #AAA;
}

table a:hover { 
    color: #888;
}

ul a:link{
    color: #008;
}

ul a:visited{
    color: #00F;
}

ul a:active { 
    color: #AAA;
}

ul a:hover { 
    color: #888;
}

a:link {
    text-decoration: none
} 

a:visited { 
    color: #000;
}

a:active { 
    color: #DDD;
}

a:hover {
    color: #CCC;
}
